.footer {
  width: 100%;
  min-height: 320px;
  float: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #84c313;
}

.logo {
  max-width: 70%;
  margin: 0 auto;
  text-align: center;
  padding: 5px;
  background-color: #FFF;
  border-radius: 15px;

  @include media-breakpoint-down(md) {
    max-width: 90%;
    margin: 0 auto;
    text-align: center;
    padding: 10px;
    background-color: #FFF;
    border-radius: 15px;
  }

}

.copyright {
  width: 100%;
  min-height: 45px;
  float: left;
  padding-top: 10px;
  color: #FFF;
  background-color: #637825;

}

.fsenaweb {
  float: right;
  font-weight: bold;
  letter-spacing: -1px;

  &:after {
    content: ".dev";
    font-weight: lighter;
    letter-spacing: -1px;
  }

  a {
    color: #FFF;
    transition: color .3s;

    &:hover {
      text-decoration: none;
      color: #273214;
    }
  }

  @include media-breakpoint-down(md) {
    float: none;
    text-align: center;
  }
}
