html, body {
  font-family: 'Roboto', sans-serif;
  background-color: #ecf0f5 !important;
}

.topicos {
  width: 80px;
  height: 80px;
  margin-bottom: 20px;
  background: #cdcdcd;
  position: relative;
  z-index: 100;
  color: #f20000;
}

.topicos h1 {
  width: 350px;
  margin: 10px 0 0 15px;
  font-weight: 700;
  position: absolute;
  z-index: 999;
}

.card {
  border-radius: 9px!important;
}