html, body {
  font-family: 'Roboto', sans-serif;
  background-color: #ecf0f5 !important;
}

.container-home {
  width: 100%;
  min-height: 350px;
}

.container-marketing {
  width: 100%;
  min-height: 420px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;

  .box-marketing {
    width: 100%;
    height: 320px;
    margin-top: 10px;
    background-color: #fe161d;
    padding: 0;
    position: relative;
    z-index: 50;

    &:nth-child(1) > img {
      margin-top: -35px;
      margin-right: -2px;
      position: relative;
      z-index: 100;
    }

    &:nth-child(2) > img {
      margin-top: -35px;
      margin-left: -17px;
      position: relative;
      z-index: 100;
    }

    &:nth-child(1){
      margin-left: -45px;
    }

    .texto-marketing-left {
      width: 50%;
      right: 0;
      color: #FFF;
      position: absolute;
      z-index: 1000;
      margin-top: 5%;
      margin-right: 30%;

      & > h2 {
        width: 75%;
        line-height: 1em;
        text-align: left;
        font-weight: 100;
        margin-left: 15px;
        margin-bottom: 20px;
      }

      & > h3 {
        text-align: left;
        line-height: 1em;
        font-size: 1.5rem;
        font-weight: 300;
      }
    }

    .texto-marketing-right {
      width: 50%;
      left: 0;
      color: #FFF;
      position: absolute;
      z-index: 1000;
      margin-top: 7%;
      margin-left: 33%;

      & > h2 {
        width: 75%;
        line-height: 1em;
        text-align: left;
        font-weight: 100;
        margin-left: 15px;
        margin-bottom: 20px;
      }

      & > h3 {
        text-align: left;
        line-height: 1em;
        font-size: 1.5rem;
        font-weight: 300;
      }
    }

  }


}

.topicos {
  width: 80px;
  height: 80px;
  margin-bottom: 20px;
  background: #cdcdcd;
  position: relative;
  z-index: 100;
  color: #f20000;
}

.topicos h1 {
  width: 350px;
  margin: 10px 0 0 15px;
  font-weight: 700;
  position: absolute;
  z-index: 999;
}

.card {
  border-radius: 9px!important;
}

.noticias {
  width: 95%;
  height: 80%;
  position: absolute;
  z-index: 10;

  & > img {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 100;
  }

  & > .titulo {
    width: 100%;
    height: 85px;
    background: rgba(255, 255, 255, 0.5);
    bottom: 0;
    left: 0;
    position: absolute;
    z-index: 999;
    letter-spacing: -0.5px;
  }
}

.noticias-sub {
  width: 95%;
  height: 80%;
  position: relative;
  z-index: 10;

  & > img {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 100;
  }

  & > .titulo {
    width: 100%;
    height: 40px;
    font-size: 80%;
    font-weight: bolder;
    line-height: 0.9rem;
    background: rgba(255, 255, 255, 0.5);
    bottom: 0;
    left: 0;
    position: absolute;
    z-index: 999;
    letter-spacing: -0.5px;
  }
}