html, body {
  font-family: 'Roboto', sans-serif;
  background-color: #ecf0f5 !important;
}

.topicos {
  width: 80px;
  height: 80px;
  margin-bottom: 20px;
  background: #cdcdcd;
  position: relative;
  z-index: 100;
  color: #f20000;
}

.topicos h1 {
  width: 350px;
  margin: 10px 0 0 15px;
  font-weight: 700;
  position: absolute;
  z-index: 999;
}

.card {
  border-radius: 9px!important;
}

.noticias {
  width: 95%;
  height: 80%;
  position: absolute;
  z-index: 10;

  & > img {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 100;
  }

  & > .titulo {
    width: 100%;
    height: 85px;
    background: rgba(255, 255, 255, 0.5);
    bottom: 0;
    left: 0;
    position: absolute;
    z-index: 999;
    letter-spacing: -0.5px;
  }
}

.noticias-sub {
  width: 95%;
  height: 80%;
  position: relative;
  z-index: 10;

  & > img {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 100;
  }

  & > .titulo {
    width: 100%;
    height: 40px;
    font-size: 80%;
    font-weight: bolder;
    line-height: 0.9rem;
    background: rgba(255, 255, 255, 0.5);
    bottom: 0;
    left: 0;
    position: absolute;
    z-index: 999;
    letter-spacing: -0.5px;
  }
}